snippet slip-box-note
	# ${0:Title}
	${1:Note Content}

	## tags
	${2:Tags list}

snippet slip-box-ref
	##### ${0:Number}
	title: ${1:Title of the referenced item}
	source: ${2: Source of the reference}
